# Dependencies
node_modules/
frontend/node_modules/
backend/venv/
venv/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
frontend/.env
backend/.env

# Build outputs
dist/
build/
*.pyc
__pycache__/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
frontend_server.log
backend/server.log
